/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --primary-color: #fff;
}

.login-body, .recover-body, .signup-body {
    background-color: #111;
}

.login-form-header {
    color: #f30000;
    text-align: center;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal-area, .recover-area, .signup-area {
    margin-top: 80px;
}

.login-modal {
    background-color: var(--primary-color);
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #f30000;;
}

.login-form-area {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-pass-form-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-account-link, .recover-password-link {
    margin: 10px;
    padding-left: 5px;
    color: #f30000
    ;
}

.create-account-link a, .recover-password-link a {
    text-decoration: none;
    color: #f30000
    ;
}

.create-account-link a:hover, .recover-password-link a:hover {
    border-bottom: 1px solid #f30000
    ;
}

.login-warning-success {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: green;
    height: 45px;
    border-radius: 5px;
    padding-left: 5px;
    color: #fff;
}

.password-hold {
    display: flex;
    align-items: center;
}

.show-pass-icon, .hide-pass-icon {
    cursor: pointer;
    font-size: 20px;
    margin-left: -45px;
}

.login-form input {
    font-size: 16px;
    width: 380px;
    height: 45px;
    margin: 10px;
    border: 1px solid #f30000;
    border-radius: 5px;
    padding-left: 5px;
    outline: 0;
}

.add-student-form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.add-button-submit, .login-button-submit {
    font-size: 15px;
    color:var(--primary-color) ;
    background-color: #f30000;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 45px;
    cursor: pointer;
}

.add-button-submit:hover, .login-button-submit:hover {
    background-color: var(--primary-color);
    color: #f30000;
    border: 1px solid #f30000;
}

/* ===== Sidebar ===== */

.adm-panel-body {
    background-color: #FAFAFB;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 8px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close {
    background-color: #FAFAFB;
    border-right: 1px solid #F30000;
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.search-term {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
    color: #000;
}

.sidebar li a:hover {
    background-color: #f30000;
    color: #FAFAFB;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}
.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}
.mode .sun-moon i.sun {
    opacity: 0;
}
body.dark .mode .sun-moon i.sun {
    opacity: 1;
}
body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.tittle-adm-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.adm-panel-index {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/*Index Page CSS*/

.section-header-slogan {
    display: grid;
    grid-template-areas: 
        "area1 area1 area2 . .";
    background: #FAFAFB;
    margin: 10px 20px;
}

.section-header-social {
    grid-area: area1;
    flex: 1;
}

.section-header-slogan-text {
    grid-area: area2;
    flex: 1.7;
}

.header-social-list {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-social-item a svg {
    width: 18px;
    height: 18px;
}

.section-header-menu-area-all {
    margin: 10px 20px;
}

.header-menu-logo {
    margin-bottom: 15px;
}

.header-menu-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.text-logo {
    margin-top: 15px;
}

.section-header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 100px;
    padding: 0 20px;
}

.header-menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
}

.menu-item a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 20px;
}

.menu-item:hover {
    border-bottom: 1px solid #f30000;
}

.active-menu {
    border-bottom: 1px solid #f30000;
    padding-bottom: 2px;
}

.form-search-index {
    display: flex;
}

.header-search-form form input {
    width: 321px;
    height: 23px;
    background: #FAFAFB;
    border: none;
    border-radius: 30px;
    outline: 0;
    padding: 12px 25px;
    font-size: 12px;
}

.header-menu-lupa {
    margin-right: -22px;
    margin-top: 4px;
    z-index: 100;
    color: #828282;
}

.budget-area a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.budget-text {
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
}

.banner-section-area {
    width: 100%;
}

.banner-section-area img {
    width: 100%;
    height: 550px;
}

.section-categories-area-tittle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.section-categories-groups {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 420px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.category-box-icon img {
    width: 100px;
    height: 100px;
}

.category-box-tittle h3 {
    border-bottom: 1px solid #f30000;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

.category-box-text {
    color: #636363;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 40px;
}

.category-box-button a, .section-catalog-button a, .budget-button a {
    width: 150px;
    height: 30px;
    background-color: #F30000;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.category-box-button a:hover, .section-catalog-button a:hover, .budget-button a:hover {
    background-color: #fff;
    color: #F30000;
}

.section-catalog-download {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-catalog-img img{
    width: 460px;
    height: 320px;
}

.section-catalog-tittle {
    margin-bottom: 25px;
}

.catalog-tittle-underline {
    width: 80px;
    height: 2px;
    background-color: #f30000;
    margin-top: 15px;
}

.section-catalog-text {
    margin-bottom: 45px;
}

.products-carrousell {
    height: 350px;
    margin: 0 50px 100px;
}

.products-carrousell-tittle {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 40px 50px;
}

.products-carrousell-tittle a {
    text-decoration: none;
    color: #F30000;
    font-size: 15px;
    line-height: 18px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next::after, .swiper-button-prev:after {
    font-size: 14px !important;
    color: #ababab;
    border: 1px solid #ccc;
    border-radius: 360px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 250px;
    height: 350px;
}

.product-box-img img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}

.product-box-description {
    text-align: left;
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 13px;
    color: #636363;
}

.budget-button a {
    width: 200px;
    height: 35px;
    background-color: #fff;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-decoration: none;
    color: #f30000;
    border: 1px solid #f30000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.budget-button a:hover {
    background-color: #F30000;
    border: 1px solid #fff;
    color: #fff;
}

.budget-button a img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.section-two-banners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.section-banner-left, .section-banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-banner-left img, .section-banner-right img{
    filter: drop-shadow(-1px 2px 4px rgba(0, 0, 0, 0.1));
    border-radius: 15px;
}

@media (max-width: 725px) {
    
}

@media (max-width: 545px) {
    .login-modal-area {
        width: 90vw;
    }

    .login-form input {
        width: auto;
    }

    .create-account-link, .recover-password-link {
        font-size: 12px;
    }

    h1 {
        font-size: 16px;
    }
}